node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
ios/pods/**/*
# macOS
.DS_Store
android/app/build
android/.gradle
android/.idea
ios/Pods
ios/myapp/GoogleService-Info.plist
android/local.properties
android/app/google-services.json
android/myapp.iml
android/app/app.iml
android/.gradle/4.10.1/fileHashes/fileHashes.bin
android/.gradle/4.10.1/fileHashes/fileHashes.lock
serviceAccountKey.json